:root {
  --bg-accent-color: #818cf8;

  /* Shadows from Josh Comeaus shadow generator */
  --shadow-color: 0deg 0% 66%;
  --shadow-elevation-medium: 0.2px 0.5px 0.6px hsl(var(--shadow-color) / 0.32),
    0.6px 1.6px 1.9px -0.8px hsl(var(--shadow-color) / 0.32),
    1.4px 4px 4.8px -1.7px hsl(var(--shadow-color) / 0.32),
    3.4px 9.8px 11.7px -2.5px hsl(var(--shadow-color) / 0.32);
  --shadow-elevation-high: 0.2px 0.5px 0.6px hsl(var(--shadow-color) / 0.3),
    0.9px 2.8px 3.3px -0.4px hsl(var(--shadow-color) / 0.3),
    1.7px 5.1px 6px -0.7px hsl(var(--shadow-color) / 0.3),
    2.9px 8.3px 9.9px -1.1px hsl(var(--shadow-color) / 0.3),
    4.6px 13.3px 15.8px -1.4px hsl(var(--shadow-color) / 0.3),
    7.1px 20.7px 24.6px -1.8px hsl(var(--shadow-color) / 0.3),
    10.8px 31.5px 37.5px -2.1px hsl(var(--shadow-color) / 0.3),
    15.9px 46.4px 55.2px -2.5px hsl(var(--shadow-color) / 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout */

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}

header,
footer {
  display: flex;
  justify-content: center;
}

main {
  margin-top: 50px;
}

footer {
  margin-top: 100px;
}

.tilted {
  height: 400px;
  width: 100vw;
  transform: translateY(-50%) skewY(-10deg);
  position: absolute;
  z-index: -1;
}

.wrapper {
  grid-column: 2;
}

header,
main {
  display: grid;
  grid-template-columns: 1fr 360px 1fr;
}

@media (min-width: 820px) {
  header,
  main {
    grid-template-columns: 1fr 760px 1fr;
  }
}

@media (min-width: 1220px) {
  header,
  main {
    grid-template-columns: 1fr 1160px 1fr;
  }
}

/* Shadows */
.bottom-shadow {
  box-shadow: var(--shadow-elevation-medium);
}

.top-shadow {
  box-shadow: var(--shadow-elevation-high);
}

/*  Header */
header {
  padding: 50px 0px;
}

header > .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: white;
  font-size: 1.5rem;
  line-height: 1.5;
}

header .image {
  height: 400px;
  width: 360px;
  background-color: black;
  position: relative;
}

.links {
  display: flex;
  gap: 10px;
}

@media (max-width: 820px) {
  .about {
    margin-top: 40px;
    box-shadow: none;
    text-align: center;
  }
}

@media (min-width: 820px) and (max-width: 1220px) {
  header .wrapper {
    position: relative;
    display: block;
    height: 500px;
  }

  .about > .links {
    display: none;
    align-self: flex-end;
  }

  .about {
    margin-left: 160px;
    margin-top: 100px;
    display: block;
    padding: 40px;
    align-items: flex-start;
    width: 600px;
  }

  header .image {
    float: left;
    margin-right: 20px;
    margin-right: 20px;
  }

  .name {
    top: 5%;
    left: 70%;
  }

  .about h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1220px) {
  .about > .links {
    align-self: flex-end;
  }

  .about {
    max-width: 720px;
    padding: 40px;
    padding-left: 20px;
  }

  header .image {
    width: 500px;
    height: 600px;
  }

  header .wrapper {
    flex-direction: row;
  }
}

.name {
  color: white;
  position: absolute;
  bottom: 0px;
  width: inherit;
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 2px 2px hsl(0deg, 0%, 0%, 0.2);
}

/* Main */

main > * {
  grid-column: 2;
}

main h2 {
  margin-bottom: 20px;
}

.card {
  width: 360px;
}

.card-image {
  height: 240px;
  background-color: hsl(220deg, 70%, 70%);
}

.card-content {
  height: 160px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

@media (max-width: 820px) {
  main h2 {
    text-align: center;
  }
}

@media (min-width: 820px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1220px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  color: #333333;
}

.colored-bg {
  background-color: var(--bg-accent-color);
}

/* Icons */

.icon-link {
  display: block;
}

.linkedin {
  background-image: url("./assets/icons/linkedin-plain.svg");
}

.github {
  background-image: url("./assets/icons/github-original.svg");
}

.open-in-new {
  background-image: url("./assets/icons/open-in-new.svg");
}

.small {
  height: 24px;
  width: 24px;
}

.medium {
  height: 32px;
  width: 32px;
}

.big {
  height: 40px;
  width: 40px;
}

/* Footer */

footer .wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}

@media (min-width: 820px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 760px, 1fr;
  }

  footer .wrapper {
    width: 760px;
    grid-column: 2;
    flex-direction: row;
    padding-bottom: 40px;
  }

  footer .image {
    flex: 1;
  }
}

@media (min-width: 1220px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1160px, 1fr;
  }

  footer .wrapper {
    width: 1160px;
  }
}

@media (max-width: 820px) {
  footer p {
    text-align: center;
  }

  .contacts {
    align-self: center;
    align-items: center;
  }

  footer .image {
    min-height: 400px;
  }
}

footer,
footer p {
  color: white;
}

footer {
  padding-top: 40px;
}

.contacts {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contacts > .links {
  gap: 20px;
}

footer .image {
  background-color: black;
}

.with-icon {
  display: flex;
  gap: 5px;
  align-items: center;
}

.with-icon img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(103deg)
    brightness(110%) contrast(102%);
}
